
import random
import time

primeiro_nome = str(input('Digite seu nome: ')).strip()
segundo_nome = str(input('Digite seu sobrenome: ')).strip()
telefone_pessoal_clt = str(input('Telefone: '))
cpf_clt = input('Digite seu CPF: ')
cpf_show = cpf_clt
email_clt = input('Digite seu email: ')

print(primeiro_nome, segundo_nome, telefone_pessoal_clt, cpf_show)
confirmacao = input('Os dados estão corretos? (sim/não): ').strip().lower()

if confirmacao == 'sim' or confirmacao == 's':
    print('Cadastro concluído')
    time.sleep(4)
    protocolo = ''.join(str(random.randint(0, 9)) for _ in range(10))
    print('Anote seu protocolo:', protocolo)  
elif confirmacao == 'não' or confirmacao == 'nao' or confirmacao == 'n':
    print('Por favor, refaça o cadastro.')
else:
    print('Informação inválida.')
